{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="{% static 'media/pyzymeIco.ico'%}" type="image/x-icon" />
  <link rel="shortcut icon" href="{% static 'media/pyzymeIco.ico'%}" type="image/x-icon" />
  <meta charset="utf-8" />
  <title>Pyzyme.com</title>
  <link rel="stylesheet" href='{% static 'css/index.css' %}' />

</head>

<body>
  <div id="outer">
  {% include "index/header.html" %}
<div id="innerhori1">
  <div id="reading">
    <h3>Readings</h3>
    <p> 1. Automate This: How Algorithms Took Over Our Markets, Our Jobs, and the World - by Christopher Steiner</p><br />
    <p> Hints: Alogrithm - Stock trading - How wallstreet pushed the boundaries of automation as we see it today</p>
    <hr /><br />
    <p>2. Thinking Fast and Slow - by Daniel Kahneman</p>
    <hr /><br />
    <p>3. The Selfish Gene - by Richard Dawkins</p>
    <hr /><br />
    <p>4. How to Win Friends and Influence People - by Dale Carnegie</p>
    <hr /><br />
    <p>5. The Power of Habit: Why We Do What We Do in Life and Business - by Charles Duhigg</p>
    <hr /><br />
    <p>6. The Richest Man in Babylon - by George Samuel Clason</p>
    <hr /><br />
    <p>7. Verbal Advantage Conversation Confidence - Leil Lowndes</p>
    <hr /><br />
    <p>8. 25 Ways to Win with People: How to Make Others Feel Like a Million Bucks - by  John C. Maxwell</p>
    <hr /><br />
    <p>9. Wherever You Go, There You Are: Mindfulness Meditation in Everyday Life - by  Jon Kabat-Zinn</p>
    <hr /><br />
    <p>10. Full Catastrophe Living:  Using the Wisdom of Your Body and Mind to Face Stress, Pain, and Illness - by  Jon Kabat-Zinn</p>
    <hr /><br />
    <p>11. Nonviolent Communication: Create Your Life, Your Relationships, and Your World in Harmony with Your Values - by Marshall Rosenberg</p>
    <hr /><br />
    <p>12. Technical Analysis - by Jack D. Schwager</p>
    <hr /><br />
    <p>13. Trading for a Living: Psychology, Trading Tactics, Money Management - by Alexander Elder</p>
    <hr /><br />
    <p>14. Eat That Frog!, Second Edition: Twenty-One Great Ways to Stop Procrastinating and Get More Done in Less Time - by  Brian Tracy</p>
    <hr /><br />
    <p>15. Molecular Cell Biology - by Harvey Lodish, Arnold Berk, S Lawrence Zipursky, Paul Matsudaira, David Baltimore, and James Darnell</p>
    <hr /><br />
    <p>16. Genes - by Benjamin Levin</p>
    <hr /><br />
    <p>17. Biochemistry - by Lubert Stryer</p>
    <hr /><br />
    <p>18. Molecular Biology of The Gene - James D. Watson and others</p>
    <hr /><br />
    <p>19. Principles of Genetics - by  Robert H. Tamarin </p>
    <hr /><br />
    <p>20. Essential Cell Biology - by Bruce Alberts</p>
    <hr /><br />
    <p>21. Machine Learning: The New AI  - by  Ethem Alpaydin</p>
    <hr /><br />
    <p>22. Social Intelligence - by Daniel Goleman</p><br />
    <p>Hints: Mirror neurons. attention precedes empathy. When we focus on others our world expands. Reptiles are least empathetic.
    Reengineer emotions. Empathic accuracy. Dark triad: Machiavelian, narcissist, psychopath. Mindsight. Mean monkey</p>
    <hr /><br />
    <p>23. Trend Following: Learn to Make Millions in Up or Down Markets - by Michael Covel</p>
    <hr /><br />
    <p>24. The Master Swing Trader - by Alan S Farley</p>
    <hr /><br />
    <p>25. Chaos - by James Gleick</p>
    <hr /><br />
    <p>26. Hacking Your Education: Ditch the Lectures, Save Tens of Thousands, and Learn More Than Your Peers Ever Will - by Dale J. Stephens</p><br />
    <p>Hints: uncollege.org, hardwork, Experience > Education</p>
    <hr /><br />
  </div>


  <div id="aboutme">
    <h3>What is Pyzyme?</h3>
    <p>
      The name is derived from Python + Enzyme. Enzymes are biological caltalysts that facilitates biochemical reactions.
    </p>
    <h3>About me</h3>
    <p>Aneesh Panoli,  PhD</p>
    <hr /><br />
    <p>Areas of Specialization: Molecular Biology, Cell BIology, Developemental Biology, Genetics, Plant Breeding, Computational biology</p>
    <hr /><br />
    <p>Programming Languages: Python, C#, html, CSS, JS</p>
    <hr /><br />
    <p>Platforms and Libraries: Linux, Windows, Mac, Adobe, Unity, Django, D3, Pandas, Matplotlib, NumPy, SciPy, REST framework, Unity</p>
    <hr /><br />
    <p>Areas of Interest: Machine learning, Computational biology, Automated Knowledge harvesting, Bioinformatics, Mobile game developement, IOS & Android app development</p>
    <hr /><br />
    <p>Other Interests: Day Trading, Automated trading</p>
    <hr /><br />
    <p>Journals Published: Nature, PLoS One, BMC Molecular Biology, The Plant Cell, BMC Plant Biology, Plant Journal</p>
    <hr /><br />
    <p>Online Learning Platforms: Khan Academy, Udemy, Udacity, Coursera, Codewars, YouTube, EdEx, MIT OpenCourseWare</p>

</div>
</div>
  <div id="disqusbox">
    <div id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

    var disqus_config = function () {
    this.page.url = 'http://www.pyzyme.com/feedback'; // Replace PAGE_URL with your page's canonical URL variable
    // this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://www-pyzyme-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  </div>
  <div class="innerhori3">

    {% include "index/footer.html" %}
  </div>
</body
</html>
